@import "../../common/colors.scss";

.checkCard {
  background-color: #f49882;
  width: 20vw;
  height: 200px;
  border-radius: 10px;
  line-height: 30px;
  box-shadow: 8px 8px 8px grey;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
}

.cardText{
  font-size: 12px;
}

.cardText:nth-child(1) {
  margin-top: 5vh;
}

.cardText:first-child{
  width: 10vw;
  margin: -15px 80px 0 20px;
  font-size: 1.8vw;
  background-color: black;
  border: none;
  color: white;
  transform: rotate(-3deg);
}

.time {
  font-size: 1vw;
}