@import "../../common/colors.scss";

@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.homeColor{
  background-color: #f0f0f0;
  height: 100%;
  min-height: 80vh;
  position: relative;
}

.checkForm {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-column-gap: 0;
  grid-row-gap: 30px;
  padding-left: 5%;
}

.attendance {
  width: 10vw;
  height: 50px;
  background-color: $primary-color;
  border: none;
  border-radius: 10px;
  margin: 40px;
  font-size: 20px;
  box-shadow: 2px 2px 2px gray;
  transition-duration: 0.3s;
}

.attendance:active {
  box-shadow: none;
}

.attInput {
  text-align: center;
}
.welcomeName {
  display: flex;
  text-align: center;
  font-size: 25px;
  font-family: 'GowunDodum-Regular';
  padding-top: 10px;
  margin-left: 10%;
}
.plzLogin {
  height: 50px;
}

.attText {
  border-radius: 3px;
  background-color: #e2e2e2;
  width: 250px;
  height: 30px;
  border: none;
  margin-bottom: 10px;
  padding: 5px;
}
input:focus {
  outline:$login-color}

.pagination {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 20px;
  left: 44%;

}
ul {
  list-style: none;
  padding: 0;
}
ul.pagination li {
  width: 30px;
  height: 30px;
  border: 1px
  solid #e2e2e2;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: $font-primary;
}
ul.pagination li:first-child{
  border-radius: 5px 0 0 5px;
}
ul.pagination li:last-child{
  border-radius: 0 5px 5px 0;
}
ul.pagination li a {

  text-decoration: none;
  color: $login-color;
  font-size: 1rem;
}
ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: $login-color;
}
ul.pagination li a:hover, ul.pagination li a.active {
  color: orange;

}
.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}



