@import "../../common/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.header {
  height: 70px;
}
.headerLine {
  height: 50px;
  padding: 0 40px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
}

.headerLogo>img {
  width: 160px;
  margin-top: 25px;
}
.Logo {

}

.Logo>img{
    width: 160px;
    margin-top: 25px;
  cursor: pointer;
}

.nav {
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
}
.navMenu{
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin-left: 800px;
}

