@import "../../common/colors.scss";

.login-Form{
  width: 100%;
  height: 98vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.login:last-child{
  grid-column: 2/3;

}

.login:first-child{
  margin: 0 auto;
}