@import "../../common/colors.scss";
@import "../../common/elements.scss";

.login-Form{
  width: 100%;
  height: 98vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.login:first-child{
  height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login:last-child{
  grid-column: 2/3;
  background-color: $login-color;
  color: $font-primary;
}

.rightLogin {
  height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.formMargin{
  font-size: 30px;
  margin-bottom: 10px;
}


.signUpInfo {
  margin-bottom: 150px;
}

.social_login{
  margin-top: 10px;
}


